body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    

}

canvas {
    border: 2px solid black;
    height: 600px;
    width: 800px;
    border-radius: 10px;
    
}